<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@rsvp.picture_url, width: '100%') if @rsvp.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @rsvp.name %></p>
    <p><b>Description: </b><%= @rsvp.description %></p>
    <p>
      <%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
      <%= link_to 'Destroy', @rsvp, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', rsvps_path %>
    </p>
  </div>
</div>